@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 4rem;
}

.app-panel {
  @apply ring-1;
  @apply bg-white;
  @apply ring-gray-200;
  @apply rounded-lg;
  @apply shadow-md;
  @apply p-2 md:p-4 lg:p-8;
}

.app__button {
  @apply min-w-16;
  @apply flex-shrink-0;
  @apply items-center;
  @apply rounded-md;
  @apply text-center;
  @apply font-medium;
  @apply text-sm;
  @apply px-2.5;
  @apply py-1.5;
  @apply mb-1.5;
  @apply text-secondary-700;
  @apply bg-secondary-100;
  @apply hover:bg-secondary-200;
  @apply focus:outline-none;
  @apply focus-visible:outline-0;
  @apply focus-visible:ring-2;
  @apply focus-visible:ring-inset;
  @apply focus-visible:ring-secondary-500;
  /* &:hover {
    @apply ;
  } */
}

.app__button--selected {
  @apply text-secondary-100;
  @apply bg-secondary-500;
  @apply hover:bg-secondary-500;
}

.router-link-active {
  text-decoration: underline;
  font-weight: bolder;
}

.home-nav > div {
  @apply min-w-20;
  @apply flex-shrink-0;
  @apply items-center;
  @apply rounded-md;
  @apply text-center;
  @apply font-medium;
  @apply text-base;
  @apply px-2.5;
  @apply py-2.5;
  @apply mb-1.5;
  @apply mt-6;
  @apply text-secondary-700;
  @apply bg-white;
  @apply outline;
  @apply outline-1;
  @apply hover:bg-secondary-200;
  @apply focus:outline-none;
  @apply focus-visible:outline-0;
  @apply focus-visible:ring-2;
  @apply focus-visible:ring-inset;
  @apply focus-visible:ring-secondary-500;
}

.collapse {
  @apply h-0;
  @apply hidden;
}

.collapsible__button {
  @apply w-full;
  @apply flex-shrink-0;
  @apply inline-flex;
  @apply items-center;
  @apply rounded-md;
  @apply gap-x-1.5;
  @apply px-2.5;
  @apply py-1.5;
  @apply mb-1.5;
  @apply font-medium;
  @apply text-sm;
  @apply text-primary-700;
  @apply bg-primary-100;
  @apply hover:bg-primary-200;
  @apply focus:outline-none;
  @apply focus-visible:outline-0;
  @apply focus-visible:ring-2;
  @apply focus-visible:ring-inset;
  @apply focus-visible:ring-primary-500;
}